@model EntityLayer.Concrete.Experience
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Deneyim Ekle</h2>

@using (Html.BeginForm("Add", "Experience", FormMethod.Post))
{
    @Html.Label("Platform")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Ünvan")
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SubTitle, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger" })
    <br />

    <button type="submit" class="btn btn-success">Kaydet</button>
}


