@using EntityLayer.Concrete
@model List<Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>İletişim</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.NameSurname</td>
            <td>@item.Mail</td>
            <td>@item.Subject</td>
            <td>@item.Message</td>
            <td>@item.Date.ToString("dddd, dd MMMM yyyy HH:mm")</td>
            <td><a href="/Contact/Delete/@item.ID" class="btn btn-danger btn-sm">Sil</a></td>
            <td><a href="/Contact/Update/@item.ID" class="btn btn-warning btn-sm">Güncelle</a></td>

        </tr>
    }
</table>


